venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
*.egg
saves
world
banned-ips.json
banned-players.json
eula.txt
ops.json
server.jar
server.properties
usercache.json
whitelist.json
libraries
logs
versions